#highlightedText {
  margin: 10px
}

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
#enlighmentMenu {

  font-size: xx-small;
  padding: 3px;
  text-align: center;
  line-height: 3.8;
  text-underline-offset: 3px;
 }
#enlighmentMenu span:hover{
 opacity: .7;
}
#enlighmentMenu span{
  padding:3px;
  padding: 5px;
  font-size: x-small;
  font-size: xx-small;
  font-style: italic;
  text-decoration: underline;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
#discussionContext{
  font-size: x-small;
  margin-bottom: 18px;
  margin-top: 18px;
  display:block;
  max-height: 120px ;
  max-height:80vw;
  overflow-y:auto;
  
  background: rgba(0, 0, 255, .05);
  padding: 11px;
  PADDING-BOTTOM: 20PX;
  display: block;
  MIN-HEIGHT: 10VH;
  BORDER: SOLID;
  MAX-HEIGHT: 20VH;
  FONT-SIZE: X-SMALL;
  OVERFLOW-Y: AUTO;
  BORDER-RADIUS: 20PX;
 
}
#loading {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(144, 185, 246, 0.9);
  /* transparent background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  /* center text horizontally */
  display: flex;
  justify-content: center;
  /* center text vertically */
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #f2f2f2; 
  
  width: 38.5vw;
  min-height: 20vh; 
}

.subtitle{ 
  display: none;
  font-family: monospace;
  font-weight: 400;
  FONT-SIZE: xx-small;
  font-style: italic;
  margin-bottom: 9.5px;
  margin-top: 8.5px;
}
.title{
  text-decoration: overline;
  font-weight: 400;
  FONT-SIZE: 1.4EM;
  font-family: monospace;
  margin-bottom: 0px;
  margin-top: 5px;
}


.logo{ 
  border-radius: 240px;
  max-width: 100%;
  max-height: 125px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.logo-icon{ 
  opacity: .5;
  max-width: 100%;
  height: 40px;
  text-align: center;
}
 
#videoBlock .text{
  text-align: left;
}
#videoBlock .desc{
  font-size:small;
}
#error {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(246, 144, 144, 0.9);
  /* transparent background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  /* center text horizontally */
  display: flex;
  justify-content: center;
  /* center text vertically */
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #333; 
  
  width: 100vw;
  min-height: 20vh;
  color: #fff;
}

.pill-label {
  opacity: .6;
  display: inline-block;
  padding: 6px 12px;
  background-color: #f0f0f0; 
  border-radius: 20px; 
  font-size: 14px;
  color: #333;
  cursor: pointer; 
}

.pill-label.active {
  opacity: 1;
  border: 1px solid #0369a1;
}

.pill-label {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  margin-right: 10px;
  /* Add some spacing between labels */
}

.pill-label:hover {
  opacity: .4;
}

.pill-label-blue {
  background-color: #e0f2fe;
  /* Light blue background */
  color: #0369a1;
  /* Dark blue text color */
  /* border: 1px solid #0369a1; */
}

.pill-label-green {
  background-color: #dcfce7;
  /* Light green background */
  color: #15803d;
  /* Dark green text color */
  /* border: 1px solid #16a34a; */
  /* Green border */
}

.pill-label-orange {
  background-color: #fff7ed;
  /* Light orange background */
  color: #b45309;
  /* Dark orange text color */
  /* border: 1px solid #b45309; */
}


.blink {
  animation: 1s ease-in-out 1s infinite reverse both running blink;
}

@keyframes blink {
  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0.5;
  }
}